{{$ratings := .Ratings}}
{{$root := .Href.Root}}
{{range .Coupons}}
    <div class="promocode">
        <div class="left">
            <div class="circle"></div>
            <img src="{{.Offer.Logo}}" alt="{{.Offer.Name}}"/>
            <div class="stars">
                {{$couponRating := .Rating}}
                {{range $i, $rating := $ratings}}
                    {{if ge $couponRating $rating}}
                        <i class="fa fa-star"></i>
                    {{else}}
                        <i class="fa fa-star-o"></i>
                    {{end}}
                {{end}}
            </div>
        </div>
        <div class="center">
            <h3>{{(overflowEllipsis .Name 150)|str2html}}</h3>
            <p>{{(overflowEllipsis .Description 500)|str2html}}</p>
            <div class="time">
                <i class="fa fa-clock-o"></i>
                <span>заканчивается через {{.GetTime}}</span>
            </div>
        </div>
        <div class="right">
            <a href="{{$root.SetPathParam "coupon" .Id}}"
               target="_self"
               type="button"
               class="btn btn-lg">Получить промокод</a>
        </div>
    </div>
{{end}}