{{template "root.html" .}}
{{define "header"}}
    {{template "user/header.html" .}}
{{end}}
{{define "content"}}
    <div id="coupon-usage">
        <h1>Промокоды, скидки и распродажи интернет-магазинов на {{.ProjectName}}!</h1>
        <p class="question">Как воспользоваться промокодом?!</p>
        <div class="steps">
            <div class="step one">
                <div class="preview-wrapper">
                    <div class="preview"></div>
                </div>
                <div class="description">Выберите понравившееся предложение</div>
                <div class="fa fa-arrow-right"></div>
            </div>
            <div class="step two">
                <div class="preview-wrapper">
                    <div class="preview"></div>
                </div>
                <div class="description">Перейдите по ссылке</div>
                <div class="fa fa-arrow-right"></div>
            </div>
            <div class="step three">
                <div class="preview-wrapper">
                    <div class="preview"></div>
                </div>
                <div class="description">Положите товар в корзину на странице магазина</div>
                <div class="fa fa-arrow-right"></div>
            </div>
            <div class="step four">
                <div class="preview-wrapper">
                    <div class="preview"></div>
                </div>
                <div class="description">При оформлении заказа введите промокод</div>
            </div>
        </div>
        <div class="good-luck">Все просто... Удачных покупок!</div>
    </div>
    <div class="promocodes"
         ng-controller="HomeCtrl"
         infinite-scroll
         coupons
         page="{{.Paginator.Page}}"
         total-pages="{{.Paginator.PageNums}}"
         emit-on-init="false">
        {{template "coupons.html" .}}
    </div>
    <script type="text/javascript">
        window.pathParams = {{.PathParams|toJs}}
    </script>
    {{if or .Paginator.HasNext .Paginator.HasPrev}}
        <div class="paginator text-center">
            {{if .Paginator.HasNext}}
                <a href="{{.Href.Set "page" .Paginator.PageNext}}">Загрузить еще</a>
            {{end}}
            {{if .Paginator.HasPrev}}
                <a href="{{.Href.Set "page" .Paginator.PagePrev}}">Загрузить предыдущее</a>
            {{end}}
        </div>
    {{end}}
{{end}}
