<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="promo">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Промокоды, скидки и распродажи интернет-магазинов на {{.ProjectName}}!</title>
    {{if .IsProduction}}
        <link rel="stylesheet" href="/static/dist/{{.CssFilename}}.css" type="text/css" />
    {{else}}
        <link rel="stylesheet" href="/static/css/{{.CssFilename}}.css" type="text/css" />
    {{end}}
</head>
<body ng-controller="RootCtrl" ng-class="{cut: isOpening()}">
    {{$href := .Href}}
    <div id="header" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        {{template "header" .}}
    </div>
    <div id="content" class="container">
        <div class="row">
            {{template "content" .}}
        </div>
    </div>
    {{if .IsProduction}}
        <script type="text/javascript" src="/static/dist/libs.js"></script>
    {{else}}
        <script type="text/javascript" src="/static/js/libs/angular.js"></script>
        <script type="text/javascript" src="/static/js/libs/angular-route.js"></script>
        <script type="text/javascript" src="/static/js/libs/angular-resource.js"></script>
        <script type="text/javascript" src="/static/js/libs/angular-animate.js"></script>
        <script type="text/javascript" src="/static/js/libs/ui-bootstrap.js"></script>
    {{end}}
    <script type="text/javascript">
        {{if .User.IsLoggedUser}}
            var redirectToSignin = function() {
                window.location = '{{.Href.Path "/signin"}}';
            };
            var sessionExpires = {{.SessionExpires}} * 1000;
            var sessionExpiresDate = new Date();
            sessionExpiresDate.setMilliseconds(sessionExpires);
        {{end}}
        var app = angular.module('promo', [
            'ngResource',
            'ngRoute',
            'ngAnimate',
            'ui.bootstrap',
        ]).config(function (
            $httpProvider,
            $locationProvider,
            $routeProvider
        ) {
            $httpProvider.defaults.headers.common = {
                'X-Angular-Client': '{{.AngularClient}}',
                'X-Requested-With': 'XMLHttpRequest'
            };
            $httpProvider.defaults.transformRequest = function(data) {
                if (angular.isUndefined(data)) return data;
                var str = [];
                for(var p in data) {
                    var name = p;
                    if (angular.isArray(data[p])) {
                        name += '[]'
                    }
                    str.push(encodeURIComponent(name) + '=' + encodeURIComponent(data[p]));
                }
                return str.join("&");
            };
            {{if .User.IsLoggedUser}}
                setTimeout(redirectToSignin, sessionExpires);
                $httpProvider.interceptors.push(function() {
                    return {
                        request: function(request) {
                            if (sessionExpiresDate < new Date()) {
                                redirectToSignin();
                            } else {
                                return request;
                            }
                        },
                        responseError: function(response) {
                            if (angular.isObject(response.data)
                                    && response.data.error
                                    && response.data.code == 401) {
                                redirectToSignin();
                            } else {
                                return response;
                            }
                        }
                    }
                });
            {{end}}
            {{if .User.IsLoggedAdmin}}
                $routeProvider
                {{range .AdminRouters}}
                    .when('{{.Href}}', {
                            templateUrl: '/static/tpls/{{.Template}}',
                            controller: '{{.Controller}}',
                            reloadOnSearch: false
                        })
                {{end}}
                    .otherwise({
                        redirectTo: '{{$href.AdminDashboard}}'
                    })
                ;
            {{end}}
            $httpProvider.interceptors.push(function($rootScope) {
                return {
                    response: function(response) {
                        if (angular.isObject(response.data)) {
                            if (angular.isObject(response.data.paginator)) {
                                $rootScope.$broadcast('paginator', response.data.paginator);
                            }
                        }
                        return response;
                    }
                };
            });

            $locationProvider
                .html5Mode(true)
                .hashPrefix('!')
            ;

        })
        {{if .User.IsLoggedUser}}
            .run(function($rootScope) {
                $rootScope.$on('$routeChangeStart', function (event, next, current) {
                    if (sessionExpiresDate < new Date()) {
                        redirectToSignin();
                    }
                });
            })
        {{end}}
        ;
    </script>
    {{if .IsProduction}}
        <script type="text/javascript" src="/static/dist/app.js"></script>
        <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25695659 = new Ya.Metrika({id:25695659, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25695659" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    {{else}}
        <script type="text/javascript" src="/static/js/controllers.js"></script>
        <script type="text/javascript" src="/static/js/directives.js"></script>
        <script type="text/javascript" src="/static/js/services.js"></script>
    {{end}}
</body>
</html>
