{{template "root.html" .}}
{{define "content"}}
    <form class="form-horizontal" role="form" action="{{.Href.Signin}}" method="post">
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Логин</label>
            <div class="col-sm-6">
                <input type="email" name="email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Пароль</label>
            <div class="col-sm-6">
                <input type="password" name="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Войти</button>
            </div>
        </div>
    </form>
{{end}}