{{$href := .Href}}
<div class="container first">
    <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{$href.Root}}" target="_self">{{.ProjectName}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" role="search" action="{{$href.Root}}">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" value="{{.Form.Query}}"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Найти!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container second">
    <div class="row">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <p class="navbar-text">Категория:</p>
                    <button type="button"
                            ng-click="toggle(category)"
                            class="btn btn-link navbar-btn">
                        {{if .SelectedCategory}}
                            {{.SelectedCategory.Name}}
                        {{else}}
                            Выбрать
                        {{end}}
                    </button>
                </li>
                <li>
                    <p class="navbar-text">Магазин:</p>
                    <button type="button"
                            ng-click="toggle(shop)"
                            class="btn btn-link navbar-btn">
                        {{if .SelectedOffer}}
                            {{.SelectedOffer.Name}}
                        {{else}}
                            Выбрать
                        {{end}}
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">Сортировать по:</p>
                    <span class="btn-group" dropdown >
                        <button type="button" class="btn btn-link dropdown-toggle">
                            {{if .SelectedOrder}}
                                {{.SelectedOrder.GetName}}
                            {{else}}
                                Выбрать
                            {{end}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {{range .Orders}}
                                <li>
                                    <a href="{{$href.Set "order" .GetId}}" target="_self">{{.GetName}}</a>
                                </li>
                            {{end}}
                        </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container three bounce-toggle ng-hide" ng-show="isOpening()">
    <div class="row cells-wrapper" ng-show="showCategories()">
        {{$hrefWithoutShop := .Href.DropPathParam "shop"}}
        <div class="cells categories">
            <div class="cell">
                <a href="{{$hrefWithoutShop.DropPathParam "category"}}"
                   class="btn btn-link"
                   target="_self">Любая</a>
            </div>
            {{range .Categories}}
                <div class="cell">
                    <a href="{{$hrefWithoutShop.SetPathParam "category" .Path}}"
                       class="btn btn-link"
                       target="_self">{{.Name}}</a>
                </div>
            {{end}}
        </div>
    </div>
    <div class="row cells-wrapper" ng-show="showShops()">
        {{$hrefWithoutCategory := .Href.DropPathParam "category"}}
        <div class="cells shops">
            <div class="cell">
                <a href="{{$hrefWithoutCategory.DropPathParam "shop"}}"
                   class="btn btn-link"
                   target="_self">Любой</a>
            </div>
            {{range .Offers}}
                <div class="cell">
                    <a href="{{$hrefWithoutCategory.SetPathParam "shop" .Path}}"
                       class="btn btn-link"
                       target="_self"><img src="{{.Logo}}" alt="{{.Name}}"/></a>
                </div>
            {{end}}
        </div>
    </div>
    <div class="bottom"></div>
</div>