@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/thumbnails";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@container-radius: 4px;

@regular-font: "OpenSans-Regular";
@bold-font: "OpenSans-Bold";
@light-font: "OpenSans-Light";

@sidebar-alpha: .21;
@header-alpha: .73;
@content-alpha: .78;
@input-alpha: .14;

@white-color: #ffffff;
@error-color: #fe4241;
@sidebar-color: #16707e;
@content-color: #1e545a;
@input-bg-color: #f2f2f2;
@input-shadow-color: #000;

@sidebar-width: 111px;

@import "loading-bar.less";
@import "mixins.less";

#content {
    margin-top: 60px;
}

.modal {
    &.coupon {
        .upload-container {
            width: 150px;
            height: 150px;
            border: 3px dashed #e5e5e5;
        }
    }
}
