@white-clr: #fff;
@black-clr: #000000;
@body-bg: #EDF0F5;
@header-first-bg: #00ADFF;
@header-first-brd-t-clr: #76D3FF;
@header-first-brd-b-clr: #1889BE;
@header-second-bg: #99CEFF;
@header-second-brd-t-clr: #BDDFFF;
@header-second-brd-b-clr: #84B7E5;
@header-three-bg: #C7E4FF;
@header-three-bottom-brd-b-clr: #6294C0;
@header-shadow-clr: #659FBB;
@header-inpt-brd-side-clr: #1DB5FD;
@header-inpt-brd-t-clr: #159EEC;
@header-inpt-brd-b-clr: #2ABBFF;
@header-btn-bg: #007DC4;
@header-logo-clr: #FFE249;
@header-logo-hover-clr: #FFEA77;
@header-logo-shdw-clr: #036297;
@header-txt-clr: #073047;
@header-lnk-clr: #005496;
@header-cell-hover-bg: #FFEC8B;
@content-container-brd-clr: #d9d9d9;
@coupon-left-brd-clr: #C5F5B5;
@coupon-btn-bg: #FF61A0;
@coupon-btn-hover-bg: #FF3888;
@coupon-btn-txt-sdw-clr: #910E42;
@coupon-descr-clr: #333333;
@stars-sdw-clr: #9E6106;
@usage-brd-clr: #548D41;

@import url(http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic-ext,latin);

.btn {
    &:active,
    &:hover,
    &:visited,
    &:focus {
        text-decoration: none;
        outline: none !important;
    }
}
.btn-link {
    color: @header-btn-bg;
    border-bottom: 1px dashed @header-btn-bg;
    padding: 0;

    &.dropdown-toggle {
        &:focus {
            outline: none;
        }
    }
    &:hover {
        color: @header-btn-bg;
        text-decoration: none;
        border-bottom-color: transparent;
    }
}
body {
    font-family: Arial;
    font-size: 14px;
    background: @body-bg;

    &.cut {
        overflow: hidden;
    }
}
.container {
    width: 1000px;
}
.dropdown-menu {
    border-color: @content-container-brd-clr;

    > li {
        > a {
            color: @header-txt-clr;

            &:hover, &:focus {
                background: @header-three-bg;
            }
        }
    }
}
#header {
    background: 0;
    border: 0;

    .container {
        width: 100%;

        &.first {
            background: @header-first-bg;
            border-top: 1px solid @header-first-brd-t-clr;
            border-bottom: 1px solid @header-first-brd-b-clr;
            position: relative;
            z-index: 2;

            &.for-coupon {
                height: 100px;

                .outline-shadow(0 ,1px, 6px, 2px, @black-clr, .2);

                .navbar-header {
                    position: absolute;
                    top: 50%;
                    margin-top: -30px;
                }
                .description {
                    width: 620px;
                    height: 90px;
                    margin-left: 143px;
                    margin-top: 4px;
                    margin-bottom: 5px;
                    background: @white-clr;
                    padding: 6px 10px;
                    color: @coupon-descr-clr;
                    .inset-shadow(0, 1px, 3px, 1px, @black-clr, .2);
                    .border-radius(4px);
                }
                .coupon {
                    width: 200px;
                    line-height: 50px;
                    color: @white-clr;
                    font-size: 20px;
                    background: @header-btn-bg;
                    border: 2px dashed @header-first-bg;
                    margin-top: 4px;
                    .text-center();
                }
                .time {
                    width: 220px;
                    font-size: 14px;
                    color: @white-clr;
                    margin-top: 1px;
                    margin-left: 2px;
                    white-space: nowrap;

                    .fa {
                        font-size: 28px;
                        position: relative;
                        top: 6px;
                    }
                }
            }
        }
        &.second {
            background: @header-second-bg;
            border-top: 1px solid @header-second-brd-t-clr;
            border-bottom: 1px solid @header-second-brd-b-clr;
            position: relative;
            z-index: 1;
            .outline-shadow(0 ,1px, 6px, 2px, @black-clr, .2);

            .navbar-left {
                margin-left: -15px;
            }
            .navbar-right:last-child {
                margin-right: 0;
            }
            .btn-link {
                padding-top: 6px;
                margin: 0;
                color: @header-lnk-clr;
            }
            .navbar-text {
                margin-top: 7px;
                margin-bottom: 7px;
                color: @header-txt-clr;
            }
        }
        &.three {
            padding: 100px 0 0;
            margin-top: -100px;
            background: @header-three-bg;

            .cells-wrapper {
                width: 100%;
                max-height: 305px;
                overflow-y: scroll;

                .cells {
                    width: 998px;
                    padding-left: 1px;
                    margin: 0 auto;
                    margin-top: -1px;

                    .cell {
                        background: @white-clr;
                        border: 1px solid @header-second-brd-b-clr;
                        margin: 0 -2px;
                        text-align: center;
                        line-height: 100px;
                        overflow: hidden;
                        .size(200px, 100px);
                        .display-inline();

                        &:hover {
                            background: @header-cell-hover-bg;
                            position: relative;
                            z-index: 1;
                            .outline-shadow(0, 0, 6px, 2px, @black-clr, .2);
                        }
                        a {
                            color: @header-lnk-clr;

                            img {
                                margin: -4px -2px 0;
                            }
                        }
                    }
                    &.categories, &.shops .cell:first-child {
                        a {
                            padding: 41px 0;
                            border-bottom: 0;
                            width: 100%;
                            .display-inline();
                        }
                    }
                }
            }
            .bottom {
                height: 10px;
                background: @header-second-bg;
                border-top: 1px solid @header-second-brd-b-clr;
                border-bottom: 1px solid @header-three-bottom-brd-b-clr;
                position: relative;
                .outline-shadow(0, -1px, 6px, 2px, @black-clr, .2);
            }
        }
        .row {
            width: 1000px;
            margin: 0 auto;

            .navbar-header {
                .lobster();

                .navbar-brand {
                    color: @header-logo-clr;
                    text-shadow: 2px 1px @header-logo-shdw-clr;
                    font-size: 30px;

                    &:hover {
                        color: @header-logo-hover-clr;
                    }
                }
            }
            .navbar-form {
                width: 850px;
                padding-right: 0;

                input {
                    background: @header-inpt-brd-t-clr;
                    border: 1px solid @header-inpt-brd-side-clr;
                    border-bottom-color: @header-inpt-brd-b-clr;
                    border-top-color: @header-inpt-brd-t-clr;
                    border-right: 0;
                    color: @white-clr;

                    &:focus {
                        background: @white-clr;
                        color: @header-txt-clr;
                    }
                }
                .input-group-btn {
                    border: 1px solid @header-inpt-brd-side-clr;
                    border-bottom-color: @header-inpt-brd-b-clr;
                    border-top-color: @header-inpt-brd-t-clr;
                    border-left: 0;
                    .border-radius(0 6px 6px 0);

                    .btn {
                        background: @header-btn-bg;
                        border: 0;
                        color: @white-clr;
                        padding-left: 20px;
                        padding-right: 20px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}
#content {
    margin-top: 80px;
    padding: 20px;

    .promocodes {
        .promocode {
            width: 990px;
            height: 250px;
            margin-bottom: 10px;
            .content-container();
            .clearfix();

            > div {
                height: 248px;
                .pull-left();
            }
            .left {
                width: 290px;
                padding-top: 35px;
                padding-right: 5px;
                padding-left: 5px;
                position: relative;
                border-left: 80px solid @coupon-left-brd-clr;
                .text-center();
                .border-radius(5px 0 0 5px);

                .circle {
                    width: 30px;
                    height: 30px;
                    background: @body-bg;
                    border: 1px solid @content-container-brd-clr;
                    position: absolute;
                    margin-left: -60px;
                    margin-top: -15px;
                    top: 50%;
                    .border-radius(50%);
                    .inset-shadow(0, 2px ,5px, 0, @black-clr, .1);
                }
                img {
                    .size(200px, 100px);
                }
                .stars {
                    width: 200px;
                    text-align: center;
                    font-size: 26px;
                    margin-top: 30px;
                    color: @header-logo-clr;
                    text-shadow: 0 0 1px @stars-sdw-clr;
                    .display-inline();
                    .border-radius(18px);
                }
            }
            .center {
                width: 610px;
                height: 175px;
                padding: 0 20px;
                position: relative;

                .fa {
                    font-size: 26px;
                }
                span {
                    position: relative;
                    top: -4px;
                }
                .time {
                    position: absolute;
                    bottom: 0;
                    margin-bottom: -20px;
                }
            }
            .right {
                width: 88px;

                .btn {
                    width: 250px;
                    line-height: 50px;
                    background: @coupon-btn-bg;
                    font-family: 'Lobster', cursive;
                    font-size: 20px;
                    margin: 88px 0 0 -71px;
                    letter-spacing: 1.5px;
                    border: 0;
                    color: @white-clr;
                    text-shadow: 1px 1px @coupon-btn-txt-sdw-clr;
                    .border-radius(0 0 5px 5px);
                    .rotate();

                    &:hover {
                        background: @coupon-btn-hover-bg;
                    }
                }
            }
        }
    }
    .paginator {
        position: absolute;
        top: 0;
        left: 0;
    }
    .error {
        &.coupon {
            color: @coupon-btn-txt-sdw-clr;
            padding: 10px 20px 20px;
            .content-container();
        }
    }
    #coupon-usage {
        padding: 10px 20px 20px;
        margin-bottom: 10px;
        .text-center();
        .content-container();

        h1 {
            font-size: 28px;
            .lobster();
        }
        .question {
            padding: 20px 0;
            font-size: 16px;
        }
        .good-luck {
            font-size: 20px;
            padding-top: 20px;
            .lobster();
        }
        .steps {
            padding: 0 74px;
            .center-block();
            .clearfix();

            .step {
                width: 200px;
                padding-right: 20px;
                position: relative;
                .pull-left();

                .preview-wrapper {
                    .preview {
                        border: 2px solid @usage-brd-clr;
                        .border-radius(50%);
                        .display-inline();
                    }
                }
                .description {
                    padding-top: 10px;
                    .text-center();
                }
                .fa-arrow-right {
                    font-size: 23px;
                    position: absolute;
                    right: 0;
                    top: 35px;
                }
                &.one {
                    .preview {
                        .usage(100px, 100px, 0, 0);
                    }
                }
                &.two {
                    .preview {
                        .usage(100px, 100px, -101px, 0);
                    }
                }
                &.three {
                    .preview {
                        .usage(100px, 100px, -202px, 0);
                    }
                }
                &.four {
                    .preview {
                        .usage(100px, 100px, -303px, 0);
                    }
                }
            }
        }
    }
}

@-webkit-keyframes bounceInDown {
    .bounceInDown();
}
@-moz-keyframes bounceInDown {
    .bounceInDown();
}
@-o-keyframes bounceInDown {
    .bounceInDown();
}
@keyframes bounceInDown {
    .bounceInDown();
}

@-webkit-keyframes bounceOutUp {
    .bounceOutUp();
}
@-moz-keyframes bounceOutUp {
    .bounceOutUp();
}
@-o-keyframes bounceOutUp {
    .bounceOutUp();
}
@keyframes bounceOutUp {
    .bounceOutUp();
}

.bounce-toggle {
    &.ng-hide-remove {
        .animation(bounceInDown 1.1s 0 1 normal both);
    }
    &.ng-hide-add {
        display: block !important;
        .animation(bounceOutUp 1.1s 0 1 normal both);
    }
}





