.opacity(@opacity: 0.5) {
    -moz-opacity: @opacity;
    -khtml-opacity: @opacity;
    -webkit-opacity: @opacity;
    opacity: @opacity;
    @opperc: @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter: ~"alpha(opacity=@{opperc})";
}

.gradient (@firstColor, @secondColor, @threeColor, @alpha, @secondStart) {
    @first: rgba(red(@firstColor), green(@firstColor), blue(@firstColor), @alpha);
    @second: rgba(red(@secondColor), green(@secondColor), blue(@secondColor), @alpha);
    @three: rgba(red(@threeColor), green(@threeColor), blue(@threeColor), @alpha);
    background: @second; /* Old browsers */
    background: -moz-linear-gradient(top,  @first 0%, @second @secondStart, @three 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @first), color-stop(@secondStart, @second), color-stop(100%, @three)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @first 0%, @second @secondStart, @three 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @first 0%, @second @secondStart, @three 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @first 0%, @second @secondStart, @three 100%); /* IE10+ */
    background: linear-gradient(to bottom, @first 0%, @second @secondStart, @three 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{first}', endColorstr='@{three}',GradientType=0 ); /* IE6-9 */
    //    -pie-background: linear-gradient(@dark, @light);
}

.radial-radient (@firstColor, @secondColor, @alpha: 1) {
    @start: 0%;
    @end: 60%;
    @first: rgba(red(@firstColor), green(@firstColor), blue(@firstColor), @alpha);
    @second: rgba(red(@secondColor), green(@secondColor), blue(@secondColor), @alpha);
    background: @first; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, @first @start, @second @end); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, @end, color-stop(@start, @first), color-stop(@end, @second)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, @first @start, @second @end); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, @first @start, @second @end); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, @first @start, @second @end); /* IE10+ */
    background: radial-gradient(ellipse at center, @first @start, @second @end); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{firstColor}', endColorstr='@{secondColor}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.font-face (@family) {
    @font-face {
        font-family: "@{family}";
        src:
            url("/static/fonts/@{family}.eot?") format("eot"),
            url("/static/fonts/@{family}.woff") format("woff"),
            url("/static/fonts/@{family}.ttf") format("truetype"),
            url("/static/fonts/@{family}.svg#@{family}") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

.alpha-color(@hex, @alpha) {
    color: rgba(red(@hex), green(@hex), blue(@hex), @alpha);
}

.alpha-bg-color(@hex, @alpha) {
    background: rgba(red(@hex), green(@hex), blue(@hex), @alpha);
}

.alpha-border(@name, @width, @style, @hex, @alpha) {
    @color: rgba(red(@hex), green(@hex), blue(@hex), @alpha);
    -:~";border-@{name}: @{width} @{style} @{color};";
}

.icon(@width, @height, @x:0, @y:0, @src) {
    .size(@width, @height);
    background: url(@src) no-repeat;
    .bg-position(@x, @y);
}

.usage(@width, @height, @x:0, @y:0) {
    .icon(@width, @height, @x, @y, "/static/img/usage.jpg");
}

.bg-position(@x:0, @y:0) {
    background-position: @x @y;
}

.display-inline () {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.shadow (@type, @width, @height, @blur, @spread, @hex, @alpha) {
    @rgba: rgba(red(@hex), green(@hex), blue(@hex), @alpha);
    -webkit-box-shadow: @type @width @height @blur @spread @rgba;
    -moz-box-shadow: @type @width @height @blur @spread @rgba;
    box-shadow: @type @width @height @blur @spread @rgba;
}

.outline-shadow(@width, @height, @blur, @spread, @hex, @alpha: 1) {
    .shadow(~'', @width, @height, @blur, @spread, @hex, @alpha);
}

.inset-shadow(@width, @height, @blur, @spread, @hex, @alpha: 1) {
    .shadow(inset, @width, @height, @blur, @spread, @hex, @alpha);
}

.transparent-frame(@width, @color: @white-color, @alpha: .27) {
    .alpha-border(top, @width, solid, @color, @alpha);
    .alpha-border(right, @width, solid, @color, @alpha);
    .alpha-border(bottom, @width, solid, @color, @alpha);
    .alpha-border(left, @width, solid, @color, @alpha);
}

.toLowercase() {
    text-transform: lowercase;
}

.rotate(@deg: -90deg) {
    @rotation: @deg/30;
    .transform(rotate(@deg));

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation);
}

.animation(@rules) {
    -webkit-animation: @rules;
    -moz-animation:    @rules;
    -o-animation:      @rules;
    animation:         @rules;
}

.timing-function(@rules) {
    -webkit-transition-timing-function: @rules;
    transition-timing-function: @rules;
}

.transform(@rules) {
    -webkit-transform: @rules;
    -moz-transform: @rules;
    -ms-transform: @rules;
    -o-transform: @rules;
    transform: @rules;
}

.bounceInDown() {
    0%, 60%, 75%, 90%, 100% {
        .timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
    }

    0% {
        .opacity(0);
        .transform(translate3d(0, -3000px, 0));
    }

    60% {
        .opacity(1);
        .transform(translate3d(0, 25px, 0));
    }

    75% {
        .transform(translate3d(0, -10px, 0));
    }

    90% {
        .transform(translate3d(0, 5px, 0));
    }

    100% {
        .transform(none);
    }
}

.bounceOutUp() {
    20% {
        .transform(translate3d(0, -10px, 0));
    }

    40%, 45% {
        .opacity(1);
        .transform(translate3d(0, 20px, 0));
    }

    100% {
        .opacity(0);
        .transform(translate3d(0, -2000px, 0));
    }
}

.content-container() {
    border: 1px solid @content-container-brd-clr;
    background: @white-clr;
    .border-radius(4px);
    .outline-shadow(0, 1px, 2px, 0, @black-clr, .1);
}

.lobster {
    font-family: 'Lobster', cursive;
}