<div>
    <div class="upload-container"
         ng-file-drop="onFileSelect($files)"
         ng-file-drag-over-class="optional-css-class-name-or-function"
         ng-show="dropSupported">положи файл сюда</div>
    <div ng-file-drop-available="dropSupported=true"
         ng-show="!dropSupported">
        <input type="file" ng-file-select="onFileSelect($files)" >
    </div>
</div>