<table class="table">
    <tr>
        <td>Новых категорий:</td>
        <td>{{categories}}</td>
    </tr>
    <tr>
        <td>Новых офферов:</td>
        <td>{{offers}}</td>
    </tr>
    <tr>
        <td>Новых купонов:</td>
        <td>{{coupons}}</td>
    </tr>
</table>