<form class="form-horizontal"
      ajax-form
      service="Offer"
      role="form">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Название</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" value="{{item.name}}">
        </div>
    </div>
    <div class="form-group">
        <label for="shortName" class="col-sm-2 control-label">Короткое название</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="shortName" value="{{item.shortName}}">
        </div>
    </div>
    <div class="form-group">
        <label for="link" class="col-sm-2 control-label">Ссылка</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="link" value="{{item.link}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success" type="submit">OK</button>
        </div>
    </div>
    <input type="hidden" name="id" value="{{item.id}}">
</form>
