<table class="table">
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Короткое название</th>
        <th>Ссылка</th>
        <th>Оффер</th>
        <th></th>
    </tr>
    <tr ng-repeat="item in items" ng-class="{'warning': !item.statusId}">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.shortName}}</td>
        <td>{{item.link}}</td>
        <td><a href="/admin/offer?id={{item.id}}" type="button" class="btn btn-default">Изменить</a></td>
    </tr>
</table>
<pagination ng-model="page"
            total-items="totalItems"
            items-per-page="itemsPerPage"
            ng-controller="PaginationCtrl"
            ng-show="isShow()"
            ng-change="pageChanged()"></pagination>