{{template "root.html" .}}
{{define "header"}}
    {{template "user/header.html" .}}
{{end}}
{{define "content"}}
    <div class="error coupon">
        <h3>Ой! Ничего не удалось найти...</h3>
        <h4>Попробуйте изменить параметры поиска...</h4>
    </div>
{{end}}