{{template "root.html" .}}
{{define "header"}}
    <div class="container first for-coupon">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{.Href.Root}}" target="_self">{{.ProjectName}}</a>
            </div>
            <div class="collapse navbar-collapse">
                <div class="navbar-text navbar-left description">
                    {{(overflowEllipsis .Coupon.Description 600)|str2html}}
                </div>
                <div class="navbar-left coupon">
                    {{if .Coupon.Code}}
                        {{.Coupon.Code}}
                    {{else}}
                        Не нужен
                    {{end}}
                </div>
                <div class="navbar-left time">
                    <i class="fa fa-clock-o"></i>
                    <span>до конца {{.Coupon.GetTime}}</span>
                </div>
            </div>
        </div>
    </div>
{{end}}
{{define "content"}}
    {{if .Coupon.Link}}
        <div class="iframe-wrapper">
            <iframe src="{{.Coupon.Link}}?subaccount={{.Offer.Path}}"></iframe>
        </div>
        <style type="text/css">
            html, body, #content, #content .row, #content .row .iframe-wrapper iframe {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            #content, #content .row {
                padding: 0;
                margin: 0;
            }
            #content .row {
                position: relative;
            }
            #content .row .iframe-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin-top: 100px;
            }
            #content .row .iframe-wrapper iframe {
                border: 0;
            }
        </style>
    {{end}}
{{end}}